{{discourse-banner user=currentUser banner=site.banner}}
<section class="top-banner-section is-hero">
    <div class="banner-image-div">
        <img class="banner-image" src="/plugins/discourse-pkv/assets/waving.jpg" alt="Banner Image" />
    </div>
    <div class="banner-overlay-div"></div>
    <div class="banner-text-div">
        <span class="banner-text">
            <h1 class="banner-h1-text main-title">Willkommen bei Parkour Vienna </h1>
            <p class="banner-body-text">Österreichs größte Parkour-Community</p>
            <p class="banner-btn"><a class="banner-btn-item" href="/categories">Zum Forum &#8594;</a></p>
        </span>
    </div>
</section>

<section class="pillars">
    <a class="pillar" href="{{siteSettings.pkv_community_link}}">
        <div class="pillar-top">
            <div class="pillar-icon">
                {{d-icon 'users'}}
            </div>
            <h3>
                Community
            </h3>
        </div>
        <p>
            Für angehende Traceure, unser Forum, Forum-Meeting, Meeting-Calendar, Spot- & Member-Map, etc.
        </p>
    </a>
    <a class="pillar" href="{{siteSettings.pkv_parkour_info_link}}">
        <div class="pillar-top">
            <div class="pillar-icon">
                {{d-icon 'landmark'}}
            </div>
            <h3>
                Parkour-Info
            </h3>
        </div>
        <p>
            Für Parkour-Interessierte, mit Artikeln rund um die Geschichte von Parkour, F.A.Q, etc.
        </p>
    </a>
    <a class="pillar" href="{{siteSettings.pkv_learn_parkour_link}}">
        <div class="pillar-top">
            <div class="pillar-icon">
                {{d-icon 'chalkboard-teacher'}}
            </div>
            <h3>
                Parkour lernen
            </h3>
        </div>
        <p>
            Für Personen die nach Parkour-Trainings suchen, Informationen zum Forum-Meeting, einer Liste von Workshops/Kursen, Beginner-Guide, etc.
        </p>
    </a>
</section>

<section class="news">
    {{#if newsTopics}}
        <h2 class="section-title">News</h2>
        <div class="news-list">
            {{#each newsTopics as |newsTopic|}}
                {{news-topic topic=newsTopic}}
            {{/each}}

        </div>
    {{/if}}
</section>

<hr />
<section class="more">
    <img src="/plugins/discourse-pkv/assets/faq.png" alt="FAQ Illustration"/>
    <p>
      Falls du noch immer Fragen hast, besuche doch unsere <a href="/faq">FAQs</a>, schreibe eine Nachricht an <a href="/about">unser Team</a> oder eine Mail an <a href="mailto:info@parkourvienna.at">info@parkourvienna.at</a>
    </p>
</section>

{{plugin-outlet name="below-footer" tagName="" args=(hash showFooter=true)}}
